.cart {
    padding: 100px;

    @include flex(flex-start, flex-start);
    @include mobile {
        flex-wrap: wrap;
    }

    &__info {
        width: 35%;
        margin-right: 5%;
        margin-top: 30px;
        box-shadow: $box-shadow;
        position: sticky;
        top: calc(#{$header-shrink-height} + 20px);
        padding: 10px;

        @include tablet {
            
        }

        &__txt {
            & > * {
                margin-bottom: 10px;
            }
    
            p {
                font-size: 1.1rem;
            }

            &__price {
                @include flex(center, space-between);
                padding: 10px 0;
                font-size: 1.1rem;

                span:nth-child(2) {
                    font-size: 1.6rem;
                    color: $main-color;
                    font-weight: 600;
                }
            }
        }

        &__btn {

            &__buy {
                background-color: blue;
                margin-bottom: 10px;
                color: #fff;
                font-weight: 600;
                width: 100%;
                text-align: center;
                padding: 7px;
                cursor: pointer;

                &:hover {
                    background-color: rgb(54, 54, 235);
                }
            }
        }


    }

    &__list {
        flex-grow: 1;
    }

    &__item {
        @include flex(center, flex-start);

        &__image {
            margin-right: 30px;
            
            img {
                height: 80px;
            }
        }

        &__info {
            @include flex(center, space-between);
            flex-grow: 1;

            &__name {
                width: 40%;
            }

            &__name,
            &__price {
                font-size: 1rem;
            }

            &__del {
                cursor: pointer;
                &__btn{


                    &:hover {
                        color: rgb(68, 68, 68);
                    }
                }
            }
        }
    }


}