.checkout {
    padding-top: 100px;
    background-color: rgb(184, 137, 137);
    display: flex;
    align-items: center;
    justify-content: center;
    .checkout-container {
        background-color: #fff;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        // vertical-align: middle;
        flex-direction: column;
        &__cart {
            width: 80%;
            border: 3px solid #333;
            border-radius: 20px;
            display: flex;
            display: flex;
            align-items: center;
            justify-content: center;
            table {
                border-radius: 5px;
                text-align: center;
                vertical-align: center;
                th {
                    border: 1px solid rgba(255, 0, 0, .3);  
                }
                td {
                    height: 70%;
                    border: 1px solid rgba(255, 0, 0, .3);
                    font-weight: 400;
                    font-size: .8em;
                    padding: 5px;

                    img {
                        height: 40px;
                        text-align: center;
                        float: left;
                    }
                    p {
                        float: left;
                        text-align: center;
                    }
                }

            }
        }
        &__info {
            width: 80%;
            border: 3px solid #333;
            border-radius: 20px;
            padding: 10px;
            margin-top: 10px;
            &__list {
                label {
                    display: inline-block;
                    padding: 8px 8px 8px 0;
                }
                input {
                    width: 100%;
                    padding-left: 5px;
                }

                select {
                    width: 100%;
                    padding: 5px;
                }
            }
        }
    }
}