.product-container{
    padding-top: 100px;

    &__other{
        text-align: center;
        padding: 25px;
        font-size: 1.5rem;
        color: $txt-second-color;
        border-top: 5px solid rgb(61, 56, 56);
        margin-top: 20px;
    }
}

.product {
    @include flex(flex-start, flex-start);

    @include mobile {
        flex-direction: column;
    }

    &__images {
        @include flex(flex-start, flex-start);
        width: 40%;
        flex-wrap: wrap;

        @include tablet {
            width: 80%;
        }

        @include mobile {
            width: 100%;
        }

        &__list {
            width: 20%;

            &__item {
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100px;
                    object-fit: cover;
                    opacity: 0.4;
                    @include mobile {
                        height: 70px;
                        width: 60px;
                        transform: translateX(-20%);
                    }

                }
                .activeImg{
                    opacity: 1;
                }
            }
        }

        &__main {
            flex-grow: 1;
            padding-top: 100%;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 50%;
                height: 500px;
                width: 470px;
                object-fit: cover;
                transform: translateX(-40%);

                @include tablet {
                    height: 380px;
                    width: 320px;
                    transform: translateX(-40%);
                }

                @include mobile {
                    height: 350px;
                    width: 290px;
                    transform: translateX(-50%);
                }
            }
        }
    }
    &__info {
        margin-left: 10%;
        flex-grow: 1;
        position: sticky;
        top: $header-shrink-height;
        padding-top: 0.75rem;

        @include mobile {
            margin-left: 10%;
            padding-top: 12%;
            top: 0;
        }

        &__title {
            font-size: 1.5rem;
            font-weight: normal;
        }

        &__item {
            margin-top: 1rem;

            &__price {
                color: $main-color;
                font-size: 1.5rem;
                font-weight: 600;

            }
            
            &__discount {
                margin-left: 3%;
                text-decoration-line: line-through;
            }


            &__title{
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            &__list {
                @include flex(center, flex-start);  
                position: relative;
                &__err {
                    color: red;
                }

                &__amount {
                    
                    
                    .active {
                        position: absolute;
                        top: 47px;
                        left: 90px;
                        color: rgb(182, 117, 117);
                    }

                    .display {
                        display: none;
                    }

                }

                &__item {
                    @include flex(center, center);
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 3px solid $txt-second-color;
                    cursor: pointer;
                    margin-right: 1rem;

                    &.active {
                        border-color: $main-color;
                    }

                    &:hover {
                        border-color: $main-color;
                    }
                    .circle {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }

                    &__size {
                        font-size: 1rem;
                        text-transform: uppercase;
                    }






                }
            }

            &__quantity {
                @include flex(flex-start, flex-start);
                
                &__btn {
                    @include flex(center, center);
                    width: 30px;
                    height: 30px;
                    border: 2px solid $txt-second-color;
                    border-radius: 50%;
                    font-size: 1rem;
                    cursor: pointer;
                    margin-right: 3px;
                }

                &__input {
                    @include flex(center, center);
                    height: 30px;
                    width: 90px;
                    font-size: 1rem;
                }
            }

            &__button {
                
                &__CartButton {
                    background-color: rgb(152, 160, 148);
                    border: 2px solid rgb(255, 0, 0);
                    text-align: center;
                    width: 25%;
                    float: left;
                    text-align: center;
                    margin-right: 20px;
                    padding: 10px 10px;
                    color:rgb(151, 0, 0);
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(185, 194, 181);
                    }

                    @include tablet {
                        padding: 5px;
                        width: 60%;
                    }

                    @include mobile {
                        margin-top: 5px;
                        width: 45%;
                        padding: 3px;
                        margin-left: 21%;
                    }
                }
    
                &__BuyButton {
                    background-color: rgb(255, 0, 0);
                    text-align: center;
                    width: 17%;
                    float: left;
                    text-align: center;
                    padding: 12px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(235, 86, 86);
                    }

                    
                    @include tablet {
                        width: 50%;
                        margin-top: 10%;
                    }

                    @include mobile {
                        margin-top: 5px;
                        width: 25%;
                        padding: 5px;
                    }
                }
            }


        }


    }
}

.product-description {
    width: 100%;
    padding: 2rem 2rem 3rem;
    height: 190px;
    overflow: hidden;
    position: relative;

    @include mobile {
        display: none;
    }

    &.expand {
        height: max-content;
        
    }

    &__title {
        font-weight:  600;
        margin: 2rem 0;
        font-size: 1rem;
    }

    &__content {
        font-size: 1rem;
        line-height:  1.875rem;
        text-align: justify;
    }

    &__toggle {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        &__button {
            background-color: #333;
            padding: 10px;
            text-align: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                background-color: rgb(95, 94, 94);
            }
        }
    }


}

.product-review{
    padding: 20px;

    &__title{
        font-weight:  600;
        margin: 1rem 0;
        font-size: 1rem;
    }
}