@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 11px;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

.color-Blue {
  color: #4267b2;
}

.bg-Blue {
  background-color: #4267b2;
}

.color-Orange {
  color: #fbb96b;
}

.bg-Orange {
  background-color: #fbb96b;
}

.color-Pink {
  color: #fe7e73;
}

.bg-Pink {
  background-color: #fe7e73;
}

.color-White {
  color: #fff;
}

.bg-White {
  background-color: #fff;
}

.color-Black {
  color: #000;
}

.bg-Black {
  background-color: #000;
}

.color-main {
  color: #000000;
}

.bg-main {
  background-color: #000000;
}

.color-Red {
  color: #ff0000;
}

.bg-Red {
  background-color: #ff0000;
}

.color-Green {
  color: #008000;
}

.bg-Green {
  background-color: #008000;
}

.grid-col-0 {
  -ms-grid-columns: (2fr)[0];
      grid-template-columns: repeat(0, 2fr);
}

.grid-col-1 {
  -ms-grid-columns: (2fr)[1];
      grid-template-columns: repeat(1, 2fr);
}

.grid-col-2 {
  -ms-grid-columns: (2fr)[2];
      grid-template-columns: repeat(2, 2fr);
}

.grid-col-3 {
  -ms-grid-columns: (2fr)[3];
      grid-template-columns: repeat(3, 2fr);
}

.grid-col-4 {
  -ms-grid-columns: (2fr)[4];
      grid-template-columns: repeat(4, 2fr);
}

.grid-col-5 {
  -ms-grid-columns: (2fr)[5];
      grid-template-columns: repeat(5, 2fr);
}

.grid-col-6 {
  -ms-grid-columns: (2fr)[6];
      grid-template-columns: repeat(6, 2fr);
}

.grid-col-7 {
  -ms-grid-columns: (2fr)[7];
      grid-template-columns: repeat(7, 2fr);
}

.grid-col-8 {
  -ms-grid-columns: (2fr)[8];
      grid-template-columns: repeat(8, 2fr);
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-0 {
    -ms-grid-columns: (1fr)[0];
        grid-template-columns: repeat(0, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-4 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-5 {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-6 {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-7 {
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-8 {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-0 {
    -ms-grid-columns: (1fr)[0];
        grid-template-columns: repeat(0, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-4 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-5 {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-6 {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-7 {
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-8 {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
}

.container {
  width: 100%;
  max-width: 1620px;
  padding: 0 50px;
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}

.main {
  margin-top: 170px;
  margin-bottom: 2rem;
  min-height: 100vh;
}

@media only screen and (max-width: 1024px) {
  .main {
    margin-top: calc(90px + 20px);
  }
}

@media only screen and (max-width: 600px) {
  .main {
    margin-top: calc(90px + 10px);
  }
}

.grid {
  display: -ms-grid;
  display: grid;
}

.product-card {
  text-align: center;
  margin-bottom: 30px;
}

.product-card__image {
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}

.product-card__image img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
}

.product-card__image img:nth-child(1) {
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.product-card__image img:nth-child(2) {
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
}

.product-card__image:hover img:nth-child(1) {
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
}

.product-card__image:hover img:nth-child(2) {
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.product-card__name {
  margin-bottom: 5px;
  color: #000;
  font-size: .9em;
  font-weight: normal;
}

.product-card__price {
  color: #000;
  font-size: .9em;
  font-weight: 500;
  margin-bottom: 5px;
}

.product-card__price__old {
  color: #8d8d8d;
  margin-left: 20px;
  font-weight: 300;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

@media only screen and (max-width: 1024px) {
  .product-card__btn {
    display: none;
  }
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 100px;
}

@media only screen and (max-width: 1024px) {
  .catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.catalog__filter {
  width: 20%;
}

@media only screen and (max-width: 1024px) {
  .catalog__filter {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100vh;
    background-color: #fff;
    padding: 1rem;
    position: fixed;
    left: 0;
    top: 90px;
    z-index: 100;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
  }
}

@media only screen and (max-width: 600px) {
  .catalog__filter {
    top: 90px;
  }
}

.catalog__filter.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.catalog__filter__widget {
  margin-bottom: 2rem;
}

.catalog__filter__widget__title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.catalog__filter__widget__content {
  color: #8d8d8d;
}

.catalog__filter__widget__content__item {
  font-size: 12px;
  margin-bottom: 13px;
}

.catalog__filter__widget__content__button {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10%;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #534a74;
  width: 40%;
  text-align: center;
  padding: 7px;
}

.catalog__filter__widget__content__button:hover {
  background-color: #192f3d;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.catalog__filter__close {
  background-color: #201e1e;
  width: 40%;
  color: #fff;
  text-align: center;
  padding: 2px;
}

.catalog__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (max-width: 1024px) {
  .catalog__content {
    width: 100%;
  }
}

.catalog__filter__toggle {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .catalog__filter__toggle {
    display: block;
    margin-bottom: 2rem;
  }
}

.catalog__filter__toggle__often {
  background-color: #201e1e;
  padding: 5px;
  width: 100%;
  color: #fff;
  text-align: center;
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.custom-checkbox:hover {
  color: #000000;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox__checkmark {
  margin-right: 10px;
  height: 15px;
  width: 15px;
  border: 1px solid #8d8d8d;
}

.custom-checkbox__checkmark i {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

input:checked ~ .custom-checkbox__checkmark {
  background-color: #000000;
  border: 1px solid #000000;
  color: #fff;
}

input:checked ~ .custom-checkbox__checkmark > i {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.product-container {
  padding-top: 100px;
}

.product-container__other {
  text-align: center;
  padding: 25px;
  font-size: 1.5rem;
  color: #8d8d8d;
  border-top: 5px solid #3d3838;
  margin-top: 20px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 40%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
  .product__images {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .product__images {
    width: 100%;
  }
}

.product__images__list {
  width: 20%;
}

.product__images__list__item {
  cursor: pointer;
}

.product__images__list__item img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
}

@media only screen and (max-width: 600px) {
  .product__images__list__item img {
    height: 70px;
    width: 60px;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

.product__images__list__item .activeImg {
  opacity: 1;
}

.product__images__main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 100%;
  position: relative;
}

.product__images__main img {
  position: absolute;
  top: 0;
  left: 50%;
  height: 500px;
  width: 470px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}

@media only screen and (max-width: 1024px) {
  .product__images__main img {
    height: 380px;
    width: 320px;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
}

@media only screen and (max-width: 600px) {
  .product__images__main img {
    height: 350px;
    width: 290px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.product__info {
  margin-left: 10%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  padding-top: 0.75rem;
}

@media only screen and (max-width: 600px) {
  .product__info {
    margin-left: 10%;
    padding-top: 12%;
    top: 0;
  }
}

.product__info__title {
  font-size: 1.5rem;
  font-weight: normal;
}

.product__info__item {
  margin-top: 1rem;
}

.product__info__item__price {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
}

.product__info__item__discount {
  margin-left: 3%;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.product__info__item__title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.product__info__item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.product__info__item__list__err {
  color: red;
}

.product__info__item__list__amount .active {
  position: absolute;
  top: 47px;
  left: 90px;
  color: #b67575;
}

.product__info__item__list__amount .display {
  display: none;
}

.product__info__item__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #8d8d8d;
  cursor: pointer;
  margin-right: 1rem;
}

.product__info__item__list__item.active {
  border-color: #000000;
}

.product__info__item__list__item:hover {
  border-color: #000000;
}

.product__info__item__list__item .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.product__info__item__list__item__size {
  font-size: 1rem;
  text-transform: uppercase;
}

.product__info__item__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.product__info__item__quantity__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid #8d8d8d;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 3px;
}

.product__info__item__quantity__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 90px;
  font-size: 1rem;
}

.product__info__item__button__CartButton {
  background-color: #98a094;
  border: 2px solid red;
  text-align: center;
  width: 25%;
  float: left;
  text-align: center;
  margin-right: 20px;
  padding: 10px 10px;
  color: #970000;
  cursor: pointer;
}

.product__info__item__button__CartButton:hover {
  background-color: #b9c2b5;
}

@media only screen and (max-width: 1024px) {
  .product__info__item__button__CartButton {
    padding: 5px;
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .product__info__item__button__CartButton {
    margin-top: 5px;
    width: 45%;
    padding: 3px;
    margin-left: 21%;
  }
}

.product__info__item__button__BuyButton {
  background-color: red;
  text-align: center;
  width: 17%;
  float: left;
  text-align: center;
  padding: 12px;
  cursor: pointer;
}

.product__info__item__button__BuyButton:hover {
  background-color: #eb5656;
}

@media only screen and (max-width: 1024px) {
  .product__info__item__button__BuyButton {
    width: 50%;
    margin-top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .product__info__item__button__BuyButton {
    margin-top: 5px;
    width: 25%;
    padding: 5px;
  }
}

.product-description {
  width: 100%;
  padding: 2rem 2rem 3rem;
  height: 190px;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .product-description {
    display: none;
  }
}

.product-description.expand {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.product-description__title {
  font-weight: 600;
  margin: 2rem 0;
  font-size: 1rem;
}

.product-description__content {
  font-size: 1rem;
  line-height: 1.875rem;
  text-align: justify;
}

.product-description__toggle {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product-description__toggle__button {
  background-color: #333;
  padding: 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.product-description__toggle__button:hover {
  background-color: #5f5e5e;
}

.product-review {
  padding: 20px;
}

.product-review__title {
  font-weight: 600;
  margin: 1rem 0;
  font-size: 1rem;
}

.cart {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .cart {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cart__info {
  width: 35%;
  margin-right: 5%;
  margin-top: 30px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: -webkit-sticky;
  position: sticky;
  top: calc(70px + 20px);
  padding: 10px;
}

.cart__info__txt > * {
  margin-bottom: 10px;
}

.cart__info__txt p {
  font-size: 1.1rem;
}

.cart__info__txt__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  font-size: 1.1rem;
}

.cart__info__txt__price span:nth-child(2) {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 600;
}

.cart__info__btn__buy {
  background-color: blue;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding: 7px;
  cursor: pointer;
}

.cart__info__btn__buy:hover {
  background-color: #3636eb;
}

.cart__list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cart__item__image {
  margin-right: 30px;
}

.cart__item__image img {
  height: 80px;
}

.cart__item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cart__item__info__name {
  width: 40%;
}

.cart__item__info__name, .cart__item__info__price {
  font-size: 1rem;
}

.cart__item__info__del {
  cursor: pointer;
}

.cart__item__info__del__btn:hover {
  color: #444444;
}

.tess {
  padding-top: 200px;
}

.checkout {
  padding-top: 100px;
  background-color: #b88989;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout .checkout-container {
  background-color: #fff;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.checkout .checkout-container__button {
  background-color: #4704ff;
  padding: 5px 10px;
  margin-top: 10px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}

.checkout .checkout-container__button:hover {
  opacity: 0.7;
}

.checkout .checkout-container__cart {
  width: 80%;
  border: 3px solid #333;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout .checkout-container__cart table {
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
}

.checkout .checkout-container__cart table th {
  border: 1px solid rgba(255, 0, 0, 0.3);
}

.checkout .checkout-container__cart table td {
  height: 70%;
  border: 1px solid rgba(255, 0, 0, 0.3);
  font-weight: 400;
  font-size: .8em;
  padding: 5px;
}

.checkout .checkout-container__cart table td img {
  height: 40px;
  text-align: center;
  float: left;
}

.checkout .checkout-container__cart table td p {
  float: left;
  text-align: center;
}

.checkout .checkout-container__info {
  width: 80%;
  border: 3px solid #333;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}

.checkout .checkout-container__info__list label {
  display: inline-block;
  padding: 8px 8px 8px 0;
}

.checkout .checkout-container__info__list input {
  width: 100%;
  padding-left: 5px;
}

.checkout .checkout-container__info__list select {
  width: 100%;
  padding: 5px;
}
/*# sourceMappingURL=index.css.map */